# SPDX-FileCopyrightText: 2022 Daniel Griswold
#
# SPDX-License-Identifier: Unlicense

secrets = {
    "ssid": "SSID",
    "password": "WPA-Passphrase",
    "mqtt_broker": "mqtt broker name or ip",
    "mqtt_port": 1883,
    "mqtt_username": "mqtt username",
    "mqtt_password": "mqtt password",
    "mqtt_topic": "topic path for sensor readings",
}
